---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import '../styles/global.css';
---

<Layout title="Sobre Nosotros - CyC Consultores">
    <main >
        
        <section class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
            <h2 class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-gray-900 md:text-4xl lg:text-5xl dark:text-white">Sobre Nosotros</h2>
            <p class="mb-6 font-light text-gray-500 md:text-lg lg:text-xl dark:text-gray-400">
                CyC Consultores es una empresa dedicada a ofrecer soluciones integrales para negocios de todos los tamaños. Con años de experiencia en el sector, nuestro equipo de expertos está comprometido en ayudar a nuestros clientes a alcanzar sus objetivos comerciales mediante servicios personalizados y estrategias innovadoras.
            </p>
            <p class="mb-6 font-light text-gray-500 md:text-lg lg:text-xl dark:text-gray-400">
                Nuestra misión es proporcionar asesoramiento de alta calidad y apoyo continuo para garantizar el éxito y crecimiento sostenible de nuestros clientes en un mercado competitivo.
            </p>
        </section>
    </main>